/* 主页样式 */

/* 背景图 使用 css 变量 实现旋转动画 */
.VPHome .image-bg {
  background-image: linear-gradient(
    var(--rotate),
    var(--vp-c-brand-1) 50%,
    var(--vp-c-brand-7) 50%);
  animation: spin 5s linear infinite;
  /* 不可直接用 filter， safari 在旋转时，背景圆角会失效 */
  filter: blur(60px);
  backdrop-filter: blur(50px);
}

/* 顶部 logo */
.VPNavBarTitle .title {
  color: var(--vp-c-brand-1);
}
.VPNavBarTitle:hover .title {
  color: var(--vp-c-brand-2);
  transition: color 0.2s ease-in;
}

/* 首页标题 */
.VPHome .main .name {
  background-image: -webkit-linear-gradient(
    left,
    var(--vp-c-brand-1),
    var(--vp-c-brand-7) 25%,
    var(--vp-c-brand-1) 50%,
    var(--vp-c-brand-7) 75%,
    var(--vp-c-brand-1));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: maskedAnimation 5s infinite linear;
}
