/* 主页样式 */

/* 背景图 使用 css 变量 实现旋转动画 */
.VPHome .image-bg {
  /* background-image: linear-gradient(
    var(--rotate),
    var(--vp-c-brand-1) 50%,
    var(--vp-c-brand-7) 50%); */
  background-image:
    radial-gradient(10% 10% at 75% 50% ,var(--vp-c-brand-1) 50%, transparent 50%),
    radial-gradient(10% 10% at 25% 50% ,var(--vp-c-brand-7) 50%, transparent 50%),
    radial-gradient(50% 50% at 25% 50% ,var(--vp-c-brand-1) 50%, transparent 50%),
    radial-gradient(50% 50% at 75% 50% ,var(--vp-c-brand-7) 50%, transparent 50%),
    linear-gradient(var(--vp-c-brand-1) 50%, var(--vp-c-brand-7) 50%);
  transform: translate(-50%, -50%) rotate(var(--rotate));
  animation: spin 5s linear infinite;
  /* 不可直接用 filter， safari 在旋转时，背景圆角会失效 */
  filter: blur(60px);
  backdrop-filter: blur(50px);
}

/* 顶部 logo */
.VPNavBarTitle .title {
  color: var(--vp-c-brand-1);
}
.VPNavBarTitle:hover .title {
  color: var(--vp-c-brand-2);
  transition: color 0.2s ease-in;
}

/* 首页标题 */
.VPHome .main .name {
  background-image: -webkit-linear-gradient(
    left,
    var(--vp-c-brand-1),
    var(--vp-c-brand-7) 25%,
    var(--vp-c-brand-1) 50%,
    var(--vp-c-brand-7) 75%,
    var(--vp-c-brand-1));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: maskedAnimation 5s infinite linear;
}

/* 顶部导航栏 */
:root {
  /* 大小 */
  --vp-c-bg-size: 4px;
}
.VPNav .VPNavBar:not(.top) {
  background-image: radial-gradient(
    transparent 1px,
    var(--vp-c-bg) 1px);
  background-size: var(--vp-c-bg-size) var(--vp-c-bg-size);
  backdrop-filter: saturate(50%) blur(var(--vp-c-bg-size));
}
.VPNav .VPNavBar:not(.has-sidebar):not(.home.top) {
  background-color: transparent !important;
}
.VPNav .VPNavBar:not(.top) .content-body {
  background-color: transparent !important;
}
.VPNav .DocSearch-Button {
  background-color: transparent;
}
