/* 文章中的样式 */

/* 黑色主题 - 图片降低亮度 */
html.dark .main img:not(.VPImage) {
  filter: brightness(0.6);
}
.main img {
  box-shadow: 0 0 5px 0 var(--vp-c-brand-4);
}

/* 文章标题 */
h1 { color: var(--vp-c-brand-1); }
h2 { color: var(--vp-c-brand-1); }
h3 { color: var(--vp-c-brand-1); }
h4 { color: var(--vp-c-brand-1); }
h5 { color: var(--vp-c-brand-1); }
h6 { color: var(--vp-c-brand-1); }

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: attr(id);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 0.5em;
  width: fit-content;
  color: transparent;
  background-color: yellow;
}

html.dark h1::before,
html.dark h2::before,
html.dark h3::before,
html.dark h4::before,
html.dark h5::before,
html.dark h6::before {
  filter: brightness(20%);
}


/* 文章中的 code */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: var(--vp-c-brand-1);
}
