/* 滚动条轨道样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-text-3);
  border-radius: 4px;
}
/* 滚动条轨道hover状态样式 */
::-webkit-scrollbar-track:hover {
  background-color: var(--vp-c-bg-soft);
}
/* 滚动条滑块hover状态样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--vp-c-text-2);
}
